modules = ["nodejs-20", "web", "python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]

[[workflows.workflow]]
name = "Start Backend"
author = 43310854
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python manage.py runserver 0.0.0.0:8000"
